//script(src='/js/bootstrap.bundle.min.js')
script(src='https://kit.fontawesome.com/f3ec6e56b9.js' crossorigin='anonymous' type='text/javascript')
script(src='/js/mdb.min.js' type='text/javascript')
script(src='/js/main.js' type='text/javascript')