extends base.pug

block content
    .container-fluid.justify-content-center.mt-3
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12.col-sm-12.color-brown
                .row.justify-content-center.text-center
                    i.fas.fa-exclamation-circle.fa-10x
                    h1.mb-3 Whoops, an error occured.
                    p.h5 <strong>Error Code:</strong> #{err.code}
                        | <br><strong>Error Description:</strong> #{err.description}
