extends base.pug

block headblock
    - var title = 'Login'

block content
    .container-fluid.loginContainer
        .row.justify-content-center.my-3.loginRow
            .col-xl-4.col-lg-6.col-md-8.col-sm-12.loginCol
                if msgs
                    +noteMsg(msgs)
                form.loginForm(action='/login' method='post')
                    .loginBar.text-center
                        h2.pt-2.pb-2 Login
                    .loginControls.align-items-center
                        .input-group.px-4.my-3
                            i.input-group-text.fas.fa-user.inpAddon(id='usrAddon')
                            input.loginInput.form-control(type='text' name='username' placeholder='Username' required='required' aria-label='Username' aria-describedby='usrAddon')
                        .input-group.px-4.my-3
                            i.input-group-text.fas.fa-key.inpAddon(id='pwdAddon')
                            input.loginInput.form-control(type='password' name='password' placeholder='Password' required='required' aria-label='Password' aria-describedby='pwdAddon')
                        input#rememberMeBox.ms-4.mb-2.form-check-input(type='checkbox')
                        label.ms-2.form-check-label.vCheckbox(for='rememberMeBox') Remember Me
                    .loginSubmit.text-center.pt-3.pb-1
                        button.btn.loginButton(type='submit' role='button') Login
                            i.fas.fa-sign-in-alt.fa.ms-2
                        p.mt-3 Don't have an account? <a href='./register'>Register</a> instead.