/* Global CSS */
:root {
    --primary: #0a8a00;
    --primary-light: #97572d;
    --bg-primary: #0a8a00;
    --bg-primary-light: #0a8a00;
    --bg-primary-dark: #076800;
    --body-bg: #242424;
    --body-color: white;
}

body {
    background-color: var(--body-bg);
    color: var(--body-color);
    font-family: 'Raleway', sans-serif;
    /*height: 100vh;
    margin: 0;*/
    display: flex;
    flex-direction: column;
}

html, body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
}

a, p, td {
    color: var(--body-color);
}

/* CSS Classes */
.color-primary {
    color: #fff!important;
}

.color-white {
    color: white!important;
}

.color-silver {
    color: #EEEEEE!important;
}

.bg-primary {
    background-color: var(--bg-primary)!important;
}

.bg-lprimary {
    background-color: var(--bg-primary-light)!important;
}

.bg-silver {
    background-color: #EEEEEE!important;
}

.bg-transparent {
    background-color: transparent!important;
}

.bg-white {
    background-color: white!important;
}

.strikethrough {
    text-decoration: line-through;
}

/* Button Classes, use this for any button, btn override doesn't work */
/* No, there is no better way to darken or brighten, trust me */
.vbutton {
    color: var(--body-color)!important;
    background-color:var(--bg-primary-light);
}

.vbutton:hover {
    filter: brightness(1.1);
}

/* More replacement for overrides :^) */
.vCheckbox input {
    color: var(--body-color)!important;
    background-color:var(--bg-primary-light);
}

/* Index CSS */
/* TODO: Fix some class names */
.titleContainer {
    background-color: var(--primary);
}

.titleIco {
    font-size: 1rem;
}

.titleHeader {
    margin: 2rem 0 0 0;
    font-weight: 300;
    font-style: italic;
    font-size: 5rem;
}

.logo {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    max-width: 21em;
    margin-left: 4%;
    width: auto;
    height: auto;
    padding: 15%;
}

.subTitleHeader {
    margin-bottom: 2rem;
    font-weight: 100;
    font-style: italic;
    font-size: 2.5rem;
}

.startButton {
    font-size: 1.3rem;
    background-color: #A7C957;
    border-color: #A7C957;
    height: 5rem;
    width: 15rem;
    border-radius: 0.5rem;
}

.startButton:hover {
    background-color: #8cb922;
    border-color: #8cb922;
}

.featureQuestionHeader {
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--primary);
}

.featureCardHeader {
    background-color: var(--primary);
    border-radius: 1rem 1rem 0 0;
}

.featureCardContent {
    font-size: 1.2rem;
    color: black;
}


/* Base CSS */

.topNavContainer {
    max-width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 3.5rem;
    transition: margin-left 0.7s;
    background-color: var(--primary);
}

header {
    z-index: 1;
}

.headerCol {
    height: 3.5rem;
}

.headerUserSpace {
    font-size: large;
}

.baseHamburgerMenu {
    margin-right: 0;
}

.baseTitleHeader {
    font-weight: 300;
}

.baseTitleIco {
    margin-right: 0.5rem!important;
}

#footer {
    transition: margin-left 0.7s;
    /*position: absolute;
    margin-top: auto;
    bottom: 0;
    width: 100%;*/
    flex-shrink: 0;
    background-color: var(--primary);
    /*background: rgb(134, 83, 0);*/
    transition: margin-left 0.7s;
    overflow-x: hidden;
}

.sidebar {
    z-index: 1;
    width: 0rem;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: var(--bg-primary);;
    color: white;
    margin-top: 3.5rem;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(226, 226, 226);
    background-color: var(--bg-primary-dark);
}

.content {
    flex: 1 0 auto;
    transition: margin-left 0.7s;
    overflow-x: hidden;
}

/* Login CSS */
.loginCol {
    color: #000000;
}

.loginBar {
    min-height: 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--primary);
    color: white;
    font-weight: 200 !important;
}

.loginForm {
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}

.loginInput {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}

.form-label {
    color: var(--body-color) !important;
}

.inpAddon {
    background-color: var(--primary);
    color: white;
    width: 3.7rem;
    line-height: 1.6!important;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.048);
}

.loginButton {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

/* Vuln CSS */

.vulnCont h1 {
    color: var(--primary);
}

.vulnTable {
    font-size: 0.9rem;
    border-color: var(--primary);
}

/* Vuln Add CSS */
.vulnRTEditor {
    background-color: white;
}

.vulnRTEditor * {
    color: black;
    background-color: white;
}

#headerSignIn, #headerSignedIn, .sidebarBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 5em;
    font-weight: 600
}

#headerSignIn:hover, #headerSignedIn:hover, .sidebarBtn:hover {
    background-color: var(--bg-primary-dark);
    border: 0px;
    border-radius: 10%;
}

#headerSignIn i, #headerSignedIn i, .sidebarBtn i {
    font-size: 20px;
    margin: 4% 0%;
}

.vtSubmitBtn {
    padding: 0.5em 3em;
    font-size: 1.3rem;
}

.vtidCol {
    min-width: 9rem;
}

.dateReportedCol {
    min-width: 17rem;
}

.trumbowyg-button-pane {
    z-index: 0;
}
/* Vuln View CSS */
#detailsTab {
    font-size: 1.2rem;
    font-weight: 400;
}

.handCur {
    cursor: pointer;
}

.attachmentContainer {
    width: 150px;
    max-width: 150px;
}

.attachmentTitle {
}

/* Profile CSS */
.profileNameCol {
    height: 10rem;
}

.profileDesc {
    font-size: large;
}

#profileTabs {
    font-size: large!important;
}

.nav-link {
    font-size: 16px !important;
}

.nav-tabs .nav-link {
    color: var(--body-color);
}

.nav-link.active {
    color: var(--body-color) !important;
    background-color: var(--bg-primary) !important;
    border-bottom: solid 2px var(--body-bg) !important;
}

.nav-link:hover {
    background-color: var(--bg-primary-dark) !important;
}

/* About CSS */
#aboutHeaderLi {
    list-style: none;
    padding-left: 0;
}

.border-primary {
    border-color: var(--body-color) !important;
}

#aboutHeader {
    font-size: 4rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.aboutFaHelper {
    display: inline-block;
    vertical-align: middle;
}

/* Activity CSS */
.activitySection {
    height: 5em;
    line-height: 1.3;
}

.activitySection a:hover {
    color: gray;
}

.voteTriggered {
    color:rgb(240, 74, 24);
}

/* ExpiryDatePicker CSS */
#expiryDatePicker {
    border: none;
    height: 30px;
}

/* Note CSS */
.note-danger {
    color: rgb(187, 0, 0);
}

/* !!!!!!!!!!!!!!!!!!!! */
/* Mobile Media-Queries */
/* !!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 720px) {
    /* Index CSS */
    .titleHeader {
        margin-bottom: 1.2rem;
        font-size: 2rem;
    }
    .subTitleHeader {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .startButton {
        font-size: 1.2rem;
        height: 4rem;
        width: 12rem;
        border-radius: 0.5rem;
    }

    /* Base CSS */
    .baseHamburgerMenu {
        margin-right: 0;
    }
    
    .baseTitleHeader {
        visibility: hidden;
    }
    
    .baseTitleIco {
        margin: auto;
    }

    /* Vuln CSS */
    .vtSubmitBtn {
        width: 70%;
        height: 5rem;
        font-size: 1.3rem;
    }

    /* About CSS */
    #aboutHeader {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 1rem 0 0 0;
    }

    .topNavContainer {
        padding: 0 0;
    }

    /* Logo CSS */
    .logo {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .logo img {
        max-width: 12em;
        width: auto;
        height: auto;
        margin-left: 4%;
        padding: 0%;
    }
    
    #headerSignIn, #headerSignedIn, .sidebarBtn {
        width: 5em;
        font-size: 12px;
    }
}