                    .row
                        .col-6
                            .form-outline.mb-3
                                input.form-control(name='affectedProduct' type='text' id='affectedProduct')
                                label.form-label(for='affectedProduct') Affected Product
                        .col-6
                            .form-outline.mb-3
                                input.form-control(name='affectedSubProduct' type='text' id='affectedProduct')
                                label.form-label(for='affectedSubProduct') Affected Subproduct
                    .row
                        .col-6
                            .form-outline.mb-3
                                select#vulnType.form-control.form-select.select-input(name='vulnType' aria-label='Vulnerability Type')
                                    option(value='Reflective XSS') Reflective XSS
                                    option(value='Stored XSS') Stored XSS
                                    option(value='SSRF') SSRF
                                    option(value='RCE') RCE
                                label.form-label(for='vulnType') Vulnerability Type
                        .col-6
                            .form-outline.mb-3
                                input.form-control#cvssScore(name='cvssScore' type='number' min='1.0' max='10.0' placeholder='CVSS Score')
                                label.form-label(for='cvssScore') CVSS Score