extends ../base.pug

block headblock
    - var title = 'Manage Discoveries'

block content
    .container-fluid.justify-content-center.mt-3.vulnCont
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12.col-sm-12.border-bottom.border-primary
                .row.justify-content-center
                    .col-6
                        h1 My Discoveries (#{vulns.length || 0})
                    .col-6.d-flex.align-items-center.justify-content-end
                        a(href='/vuln/add')
                            button.btn.btn-primary.rounded-pill(type='submit' role='button') + Add
        .row.justify-content-center
            .col-xl-8.col-lg-10.col-md-12.col-sm-12.mt-3
                    +vulnTable(vulns)
                    if vulns.length < 1
                        .row.text-center.color-primary.mt-3
                            h2 Things seem rather empty here... Why don't you add a new discovery?
                            h5 (We believe in you)

